.header {
    width: 98%;
    height: 250px;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* или 'cover', если хочешь, чтобы заполняло весь блок */
}